<a href="https://colab.research.google.com/github/honghyelim/code_up100/blob/main/codeup_basic2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#거꾸로 출력하기
n = int(input())
data = list(map(int,input().split()))

for i in range(n-1,-1,-1):
  print(data[i],end=' ')

5
1 3 5 6 8
8 6 5 3 1

In [ ]:
#배열 두번 출력하기
n = int(input())
data = [int(x) for x in input().split()]

for i in data:
  print(i)
for i in data:
  print(i)

1
2
3
1
2
3

In [ ]:
#숫자 로테이션
n = 5 #int(input())
data = [1,2,3,4,5] #[int(x) for x in input().split()]

for i in range(n):
  for j in range(n):
    print(data[i+j-n],end=' ')
  print()

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [ ]:
#문자열 출력하기1
s =[x for x in input().split()]
for i in s:
  print(i, end='')

as sd fg
assdfg

In [ ]:
#올바른 괄호1
s =  list(map(str,input()))

c = 0
d = 0
for i in s:
  if i == '(':
    c += 1
  else:
    d +=1

print(c,d, end=' ')

(())(())
4 4

In [ ]:
#2진수 변환
#재귀함수 사용

n = int(input())

def binary(n):
    if n > 1:
        binary(n // 2)   #2로 나눈 몫을 1이 나올때까지 반복해서 나누어줌
    return print(n % 2, end='')

binary(n)

7
111

In [ ]:
#자리 배치

n, c = map(int, input().split())
students = list(map(int, input().split()))
​
students.sort()
​
for i in range(0, int(n/c)+1):
    for j in range(i*c, i*c+c): 
        if j >= len(students): #만약 list 길이보다 j가 크거나 같으면 break
            break
        print(students[j], end=' ')
    print()

160 165 164 165 150 165 168 145 170
145 150 160 164 165 165
165 168 170

In [ ]:
#큰수 비교
a = list(map(int, input().split()))

print(mix(a), max(a), end=' ')

1738616284593236721134246820309315293 948350275739085575844201540770610750818756894
948350275739085575844201540770610750818756894 1738616284593236721134246820309315293

In [ ]:
#3의 배수 판별하기

n = int(input())

if n %3 == 0:
  print('1')
else:
  print('0')

3321
1

2차원 배열

In [ ]:
n = int(input())

d = [i for i in range(1,(n*n)+1)]

for i in range(n):
  for j in range(i*n,i*n+n):
    if j >= len(d) :
      break
    print(d[j], end=' ')
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
n = int(input())

for i in range(0, n):
    for j in range(1, n+1):
        print(n*i+j, end=' ')
    print()

5
1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [ ]:
n = int(input())

for i in range(0, n):
    for j in range(n,0,-1):
        print(n*i+j, end=' ')
    print()

5
5 4 3 2 1
10 9 8 7 6
15 14 13 12 11
20 19 18 17 16
25 24 23 22 21

In [ ]:
n = int(input())

for i in range(0, n):
    for j in range(1,(n*(n-1))+2,n):
        print(i+j, end=' ')
    print()

5
1 6 11 16 21
2 7 12 17 22
3 8 13 18 23
4 9 14 19 24
5 10 15 20 25

In [ ]:
n = int(input())

for i in range(0,-n,-1):
  for j in range(n,n*n+1,n):
    print(i+j,end=' ')
  print()

5
5 10 15 20 25
4 9 14 19 24
3 8 13 18 23
2 7 12 17 22
1 6 11 16 21

In [ ]:
n, m = map(int, input().split())

for i in range(n, 0, -1):
    for j in range(0, m):
        print(i*m-j, end=' ')
    print()

4 5
20 19 18 17 16
15 14 13 12 11
10 9 8 7 6
5 4 3 2 1

In [ ]:
#홀수 마방진
n = 5 #int(input())

#매트릭스 만들어주기
data= [[0 for _ in range(n)] for _ in range(n)]

sx = 0
sy = int(n/2)
data[sx][sy] = 1

x = 0
y = 0
for i in range(2,n*n+1):
  x = sx
  y = sy
  sx -= 1       #행은 감소
  sy += 1       #열은 증가
  if sx < 0 :   #행은 감소하므로 첫 행보다 작아지는 경우 마지막 행으로 넘어감
    sx = n-1   
  if sy > n-1 : #열은 증가하므로 마지막 열보다 커지는 경우 첫 열로 넘어감
    sy = 0
  if data[sx][sy] == 0:
    data[sx][sy] = i   #매트릭스에 수를 채워 넣음
  else:         #넣은 수가 n의 배수이면 행만 증가, 열은 변화 없음 
    sx = x+1
    sy=y
    data[sx][sy] = i

#출력
for i in range(0,n):
  for j in range(0,n):
    print('%d' %data[i][j],end=' ')
  print()

17 24 1 8 15
23 5 7 14 16
4 6 13 20 22
10 12 19 21 3
11 18 25 2 9

In [ ]:
n = 3 #int(input())
m = [[0]*n for _ in range(n)]
c = 0
t = 0

#매트릭스 생성
for i in  range(0,n):
  for j in range(0,n):
    c += 1
    m[i][j] = c

#테두리의 합 구하기
for i in range(0,n):
  t += m[0][i]
for i in range(0,n):
  t += m[n-1][i]
for i in range(1,n-1):
  t += m[i][0]
for i in range(1,n-1):
  t += m[i][n-1]

print(t)

40

In [ ]:
#생명게임
#조건
#1. 생명이 없는 칸의 주위 8칸에 정확히 3마리의 생명이 존재하는 경우 다음 세대에 그칸에서 생명이 탄생
#2. 생명이 있는 칸의 주위 8칸에 4마리 이상 또는 1마리 이하의 생명이 존재하는 경우 다음 세대에 그 칸의 생명은 죽는다.
#3. 생명이 있는 칸의 주위 8칸에 2마리 또는 3마리의 생명이 존재하는 경우 다음 세대에 그 칸의 생명은 생존한다. 

m = [[0]*27 for i in range(27)]
n = [[0]*27 for i in range(27)]

for i in range(1, 26):
  input_list = list(map(int, input().split()))
  for j in range(0, 25):
    m[i][j+1] = input_list[j]

#시작을 1,1로 설정
for i in range(1, 26):
  for j in range(1, 26):
    life = m[i-1][j-1] + m[i][j-1] + m[i+1][j-1] + m[i-1][j] + m[i+1][j] + m[i-1][j+1] + m[i][j+1] + m[i+1][j+1]
    if m[i][j] == 0:
      n[i][j] = 1 if life == 3 else 0
    else:
      n[i][j] = 1 if life == 2 or life == 3 else 0

for i in range(1, 26):
  for j in range(1, 26):
    print(n[i][j], end=' ')
  print()

In [33]:
#지뢰찾기

m = [[0]*11 for _ in range(11)]

for i in range(1,10):
  li = list(map(int, input().split()))
  for j in range(9):
    m[i][j+1] = li[j]

a, b = map(int,input().split())

if m[a][b] == 1:
  print('-1')
else:
  life = m[a-1][b-1]+m[a][b-1]+m[a+1][b-1]+m[a-1][b+1]+m[a+1][b+1]+m[a][b+1]+m[a-1][b]+m[a+1][b]
  print(life)

1 0 1 0 0 0 0 0 0
1 0 0 0 1 0 0 0 0
1 0 0 0 1 0 0 1 0
1 0 1 1 1 0 0 0 0
1 0 1 0 1 0 0 0 0
1 0 1 1 1 0 0 1 0
1 0 0 0 1 0 0 0 0
1 0 0 0 1 0 0 1 0
1 0 0 0 1 0 0 0 0
5 4
8