<a href="https://colab.research.google.com/github/honghyelim/code_up100/blob/main/codeup_sort.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#세 수 정렬하기

a = list(map(int,input().split()))

a.sort()

for i in a:
  print(i, end=' ')

3 2 1
1 2 3

In [ ]:
#3등 찾기
n = int(input())
d = {}

for i in range(0,n):
  name, score = input().split()
  d[name] = int(score)


data = sorted(d.items(), key = lambda x : x[1],reverse=True)  #score를 기준으로 딕셔너리 정렬
print(data[2][0]) #세번째 이름 출력

5
n 89
m 67
j 75
g 90
s 56
j

In [ ]:
#데이터 정렬(small)

n = int(input())
data = []

for i in range(n):
  data.append(int(input()))

data.sort()
for i in data:
  print(i)

3
9
3
5
3
5
9

In [ ]:
# 내림차순 정렬
n = int(input())
data = list(map(int,input().split()))

data.sort(reverse=True)

for i in data:
  print(i, end=' ')

3
4 6 3
6 4 3

In [ ]:
#데이터 재정렬
n = int(input())
data = list(map(int, input().split()))

# binary search 함수
def bin_search(data, start, end, k):
    while start <= end:
        mid = (start + end) // 2
        if data[mid] == k:
            return mid
        elif data[mid] < k:
            start = mid + 1
        else:
            end = mid - 1

# 데이터의 각 원소에 오름차순 순위 부여
def resort(data):
    index_memo = ""
    sorted_data = sorted(data)
    for i in data:
        index_memo += str(bin_search(sorted_data, 0, len(data)-1, i)) + " "
    return index_memo

# 결과값 출력
print(resort(data))

5
50 23 54 24 123
2 0 3 1 4

In [ ]:
#버블 정렬
n = 5 #int(input())
a = [10, 50, 30, 20, 40] #list(map(int,input().split()))
c = 0

for i in range(1,n):
  change_flag = False
  for j in range(n-i):
    if a[j] > a[j+1]:
      temp = a[j]
      a[j] = a[j+1]
      a[j+1] = temp
      change_flag=True
  if change_flag:
    c += 1

print(c)

2

In [24]:
#정렬 기준
import collections
s = collections.namedtuple('s',['id','math','comp'])
ss= list()

#입력
n = int(input())
for i in range(n):
  m,c = map(int,input().split())
  ss.append(s(i,m,c)) #[s(id=0, math=20, comp=30), s(id=1, math=10, comp=30), s(id=2, math=20, comp=30)]

def chg_idx(j):
  t = ss[j]
  ss[j] = ss[j+1]
  ss[j+1] = t        #서로 자리 바꿔주기

for i in range(1,n):  #비교하기
  for j in range(n-i):
    if ss[j].math < ss[j+1].math:
      chg_idx(j)
    elif ss[j].math == ss[j+1].math:
      if ss[j].comp < ss[j+1].comp:
        chg_idx(j)

for i in range(n):
  print((ss[i].id)+1,ss[i].math,ss[i].comp)

5
100 90
90 90
80 80
80 90
60 50
1 100 90
2 90 90
4 80 90
3 80 80
5 60 50