<a href="https://colab.research.google.com/github/honghyelim/code_up100/blob/main/codeup_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s = input()

for i in s:
  print("'{}'".format(i))

boy
'b'
'o'
'y'

In [ ]:
s = int(input())

print('{}%'.format(s))

35
35%

In [ ]:
s = float(input())

if s >= 50 and s <= 60:
  print('win')
else:
  print('lose')

50.213
win

In [ ]:
s = int(input())

if (s >= 30 and s <= 40) or (s<=70 and s>=60):
  print('win')
else:
  print('lose')

50
lose

In [ ]:
s = int(input())

if (s >= 50 and s <= 70) or (s % 6==0):
  print('win')
else:
  print('lose')

30
win

In [ ]:
#축구의 신1
minute, score = map(int, input().split())
 
while minute < 90:
    minute += 5
    score += 1
 
print(score)

72 2
6

In [ ]:
a = list(map(int,input().split()))

a.sort()
print(a[1])

201 20 3
20

In [ ]:
s = list(str(input())) #90
t = int(''.join(s[::-1])) *2 #역수구해서 곱하기 2하기

if t >= 100:
  t -= 100
  if t <= 50:
    print(t,'GOOD', sep='\n')
  else:
    print(t,'OH MY GOD', sep='\n')

else:
  if t <= 50:
    print(t,'GOOD', sep='\n')
  else:
    print(t,'OH MY GOD', sep='\n')

90
18
GOOD

In [ ]:
a,b = map(int,input().split())

s = [a+b,b+a,a-b,b-a,a*b,b*a,a/b,b/a,a**b,b**a]
s.sort()
print('%.6f' % s[-1])

1 2
3.000000

In [ ]:
#삼각형 판단하기
a, b, c = map(int,input().split())

if (a+b > c):
  if a == b == c:
    print('정삼각형')
  elif (a**2) + (b**2) == c**2:
    print('직각삼각형')
  elif a == b or b == c or a == c:
    print('이등변삼각형')
  else :
    print('삼각형')

else:
  print('삼각형아님')

3 3 3
정삼각형

In [ ]:
#이번주 로또
#list(map(int,input().split()))
a =  list(map(int,input().split()))
b =  list(map(int,input().split()))

s = 0
for i in range(len(b)):
  if b[i] in a[0:6]:
    s += 1

t = 0
for i in range(len(b)):
  if b[i] in a:
    t += 1

if s >= 6:
  print(1)
elif t >= 6:
  print(2)
elif s >= 5:
  print(3)
elif s >= 4:
  print(4)
elif s >=3 :
  print(5)
else:
  print(0)

13 23 24 35 40 45 7
2 6 7 23 40 44
0

In [ ]:
a, b = map(int, input().split())

if a > b :
  for i in range(b,a+1):
    print(i, end=' ')
else:
  for i in range(a,b+1):
    print(i, end=' ')

1 -1
-1 0 1

In [ ]:
#주식 투자
#순수익(총 투자액 - 총 비용)

a = int(input())
b = int(input())

result = a
for i in map(int,input().split()):
    i = 0.01*i
    result = result + result*i
print("%.0f"% (result-a))

if result>a:
    print("good")
elif result==a:
    print("same")
elif result<a:
    print("bad")

10000
4
10 -10 -5 5
-125
bad

In [ ]:
#암호해독
#두 소수의 곱으로 나타낼 수 있는 두 소수를 오름차순으로 출력
#에라토스테네스 체 사용

a = int(input())

p = []
for n in range(2,a+1):
  c = True
  for i in range(2,n):
    if n % i == 0:
      c = False
  if c:
    p.append(n)            #a의 소수 찾음

for i in p:
  if a % i == 0:
    



#   for j in p:
#     if i*j == a:
#       s = {i,j}
# print(s)

    
# if p == []:
#   print('wrong number')
# else:
#   for i in list(s):
#     print(i,end=' ')

21
[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
import math

n = 21
a = [0]*10
index = 0
sq = int(math.sqrt(float(n)))

  
for i in range(2, sq+1):
  while n % i == 0:
    n /= i
    a[index] = i
    index += 1
    print(index)


if n != 1:
    a[index] = n
    index += 1
    print(a[index])
if index == 2:
    print(int(a[0]), int(a[1]))
else:
    print('wrong number')

1
0
3 7

In [ ]:
#중첩 반복문
a,b = map(int, input().split())

for i in range(a,b+1):
  for j in range(1,10):
    print('{}*{}={}'.format(i,j,i*j))

5 6
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

In [ ]:
n = int(input())

for i in range(n):
    for j in range(n):
        print('*', end='')
    print()   #줄바꿈

4
****
****
****
****

In [21]:
n = int(input())
for i in range(1,n+1):
    for j in range(0, i):
        print('*', end='')
    print()

4
*
**
***
****

In [ ]:
n = int(input())
for i in range(n,0,-1):
    for j in range(0, i):
        print('*', end='')
    print()

4
****
***
**
*

In [ ]:
n = int(input())

for i in range(0, n):
    for j in range(0, i):
        print(' ', end='')
    for j in range(0, n-i):
        print('*', end='')
    print()

4
****
 ***
  **
   *

In [ ]:
n = 4

for i in range(0, n):
    if (i == 0) or (i == n-1):
        for j in range(0, n):
            print('*', end='')
        print()
    else:
        print('*', end='')
        for j in range(0, n-2):
            print(' ', end='')
        print('*', end='')
        print()

4
****
*  *
*  *
****

In [25]:
n = int(input())
for i in range(1,n+1):
    for j in range(0, i):
        print('*', end='')
    print()
for i in range(n-1,0,-1):
    for j in range(0, i):
        print('*', end='')
    print()

3
*
**
***
**
*

In [54]:
n = int(input())
for i in range(int(n/2), -1, -1):
    for j in range(0, i):
        print(' ', end='')
    for j in range(0, (n - i * 2)):
        print('*', end='')
    for j in range(0, i):
        print(' ', end='')
    print()

7
   *
  ***
 *****
*******