<a href="https://colab.research.google.com/github/honghyelim/code_up100/blob/main/%EA%B5%AC%EC%A1%B0%EC%B2%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 #입체기동장치 생산공장
import collections
s = collections.namedtuple('s',['a','b'])
ss=list()

n = int(input())
for i in range(n):
  a,b = map(int,input().split())
  ss.append(s(a,b))

ss.sort()

for i in range(n):
  print(ss[i].a,ss[i].b)

3
2 10
3 20
1 30
1 30
2 10
3 20

In [ ]:
#데이터 재정렬
from collections import namedtuple
s = namedtuple('s',['id','a'])
ss = list()

a = [50,23,54,24,123] #list(map(int,input().split()))
b = sorted(a)

n = 5 #int(input())
for i in range(n):
    ss.append(s(i,b[i]))
  

for i in a: #[50,23,54,24,123]
  for j in range(len(a)):  #[s(id=0, a=23), s(id=1, a=24), s(id=2, a=50), s(id=3, a=54), s(id=4, a=123)]
    if ss[j].a == i:
      print(ss[j].id,end = ' ')

2 0 3 1 4

In [ ]:
n = 5 #int(input())

ls = [50, 23, 54, 24, 123]  #list(map(int, input().split()))
ls2 = sorted(ls)

di = dict(zip(ls2, range(n))) #{23: 0, 24: 1, 50: 2, 54: 3, 123: 4}
#di[52] = '1'

for i in ls:
    print(di[i], end=" ")

{23: 0, 24: 1, 50: 2, 54: 3, 123: 4}
2 0 3 1 4

In [ ]:
#성적표 출력
import collections
n, m = map(int,input().split())
ss = list()
s = collections.namedtuple('s',['name','score'])

for i in range(n):
  nm,sc = input().split()
  ss.append(s(nm,int(sc)))

ss = sorted(ss,key = lambda x : x[1],reverse=True)

for i in range(m):
  print(ss[i].name)

4 2
dasd 30
dasd 20
asdaa 70
sdf 90
sdf
asdaa

In [ ]:
#성적표 출력
import collections
n, m = map(int, input().split())
studs = list()
Student = collections.namedtuple('Student',['name','score'])

for i in range(n) :
	nm, sc = input().split()
	studs.append(Student(nm, int(sc)))

for size in range(1, n) :
	val = studs[size]
	i = size
	while i > 0 and studs[i-1].score < val.score :
		studs[i] = studs[i-1]
		i -= 1
	studs[i] = val

for i in range(m) :
	print(studs[i].name)

4 2
fdf 40
fsdfs 50
sdfsd 40
fsdfs 30
fsdfs
fdf

In [ ]:
#1등한 학생의 성적
import collections
s = collections.namedtuple('s',['name','s1','s2','s3'])
ss = list()

n = int(input())
for i in range(n):
  name,s1,s2,s3 = input().split()
  ss.append(s(name,int(s1),int(s2),int(s3))) #ss = [s(name=jeon,s1=95..)]

ss1 = sorted(ss, key=lambda x :x[1],reverse=True)
ss2 = sorted(ss, key=lambda x :x[2],reverse=True) # s.s.(id=3,name=bae)
ss3 = sorted(ss, key=lambda x :x[3],reverse=True)

b = ss1[0].name #bae

for i in range(n):
  if ss2[i].name == b:
    print(b, i+1,end=' ')

for i in range(n):
  if ss3[i].name == b:
    print(i+1)

4
j 95 80 100
k 59 85 75
l 90 100 75
b 100 82 80
b 3 2

In [ ]:
# 3016
## namedtuple

import collections

s = collections.namedtuple('s',['name','s1','s2','s3'])
score = list()

n = int(input())
for i in range(n):
    name, s1, s2, s3 = input().split()
    score.append(s(name, int(s1), int(s2), int(s3)))
    
ss1 = sorted(score, key=lambda x: x[1], reverse=True)
ss2 = sorted(score, key=lambda x: x[2], reverse=True)
ss3 = sorted(score, key=lambda x: x[3], reverse=True)

# ss1에서 s1 일등한 학생 이름이랑 인덱스 찾기
# ex) Bae, 3
stu_name = ss1[0].name


# 학생의 s2와 ss2의 s2 비교해서 ss2에서 등수 찾기
for i in range(n):
    if ss1[0].s2 == ss2[i].s2:
        s2_rank = i # 인덱스 번호이므로 출력할때 1 더해줌
        break

# 위랑 똑같이
for i in range(n):
    if ss1[0].s3 == ss3[i].s3:
        s3_rank = i
        break
        
print(stu_name, s2_rank+1, s3_rank+1)

4
Jeon 95 100 100
Kim 59 100 80
Lee 90 100 80
Bae 100 82 80
Bae 4 3

In [ ]:
n = int(input())
schedules = [list(input().split()) for _ in range(n)]


# 년도기준으로 비교, 같으면 월로 비교, 같으면 일, 같으면 스케줄명 사전순으로 비교
schedules = sorted(schedules, key=lambda x: (int(x[1]), int(x[2]), int(x[3]), x[0]))

# 결과 출력
for i in schedules:
    print(i[0])

5
sleep 2014 05 23
golf 2014 06 02
travel 2015 11 22
baseball 2013 02 01
study 2014 05 23
baseball
sleep
study
golf
travel

In [ ]:
#정을 참여 학생 리스트 만들기

In [40]:
#기억력 테스트9

a,b = map(int,input().split())
import collections
s = collections.namedtuple('s',['name','s1'])
data = list()

for i in range(a):
    name, s1 = input().split()
    data.append(s(name, int(s1)))

st = [input() for _ in range(b)]

for i in range(b):
  c = 0
  for j in range(a):
    if st[i] == data[j].name:
      c += data[j].s1
  
  print(c)

10
5
10
0